h1{
	color:$color;
	font-family: $fontFamily;
}

h2{
	color:$color;
	font-family: $fontFamily;
}

h3{
	color:$color;
	font-family: $fontFamily;
}

h4{
	color:$color;
	font-family: $fontFamily;
}

h5{
	color:$color;
	font-family: $fontFamily;
}

h6{
	color:$color;
	font-family: $fontFamily;
}

.test{
	width:$width;
	height:$height;
	background-color: $color;
}